# -------------------
# Python
# -------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# -------------------
# Virtual environment
# -------------------
.venv/
env/
venv/
ENV/

# -------------------
# PyInstaller
# -------------------
# Pastas geradas pelo pyinstaller
build/
dist/

# Arquivos gerados pelo PyInstaller
*.spec
*.pkg
*.toc
*.pyz
*.log
*.zip

# -------------------
# Editor / IDE
# -------------------
# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# -------------------
# Sistema / OS
# -------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------
# Arquivos de configuração sensíveis
# -------------------
# Não subir usuários ou senhas locais
config/usuarios.json

# -------------------
# Outros arquivos que não devem ir para o GitHub
# -------------------
*.exe
*.dll
*.bat
*.tmp
*.log