# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv

# PyInstaller
build/
dist/
*.spec

# VSCode / PyCharm
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Usuários temporários (se você não quiser enviar o JSON)
# usuarios.json  # comente se quiser versionar o arquivo